@import "variable.styl"

body, html
  line-height: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  color: #333;
  font: 12px/1.5 "hiragino sans gb",arial;
  color: #555;
  touch-action:none;